body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #582fbf;
    padding: 20px;
    color: white;
}

footer {
    background-color: #582fbf;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

.assignmentpic1{
    width: auto;
}

.image-container {
    position: relative;
    width: 900px; 
}

.assignmentpic2{
    position: absolute;
    width: auto;
    opacity: 0;
    animation: fadeInOut 6s ease-in-out infinite;
}
.assignmentpic2:nth-child(1) {
    animation-delay: 0s; 
}
.assignmentpic2:nth-child(2) {
    animation-delay: 3s; 
}
@keyframes fadeInOut {
 0%,100%{
    opacity: 0;
 }    
 50%{
    opacity: 1;
 }
}
.assignmentpic1.visible{
    opacity: 1;
}

.menu {
    list-style: none;
    padding: 50;
    margin: 0;
    display: flex;
    background-color:#582fbf;
    justify-content: center;
}
.menu > li {
    position: relative;
}
.menu > li > a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}
.menu > li > a:hover {
    background-color: #575757;
}
.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 100;
}
.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;  
}
.dropdown-content li a:hover {
    background-color: #f6f2f2;
}
.dropdown:hover .dropdown-content {
    display: block;
}


/* task 3 css start here: */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

label {
    display: inline-block;
    width: 150px; 
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="date"], textarea {
    width: calc(100% - 170px); 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

input[type="submit"], input[type="button"] {
    background-color:  #582fbf; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: darkviolet; 
}


/* task 3 css end here. */
#interestChart {
    max-width: 500px; 
    max-height: 300px; 
    width: 100%; 
    height: auto; 
    margin: 0 auto; 
}