body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #582fbf;
    padding: 20px;
    color: white;
}

footer {
    background-color: #582fbf;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}


img {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

.assignmentpic1{
    width: auto;
}

.image-container {
    position: relative;
    width: 900px; 
}

.assignmentpic2{
    position: absolute;
    width: auto;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out infinite;
}
.assignmentpic2:nth-child(1) {
    animation-delay: 0s; 
}
.assignmentpic2:nth-child(2) {
    animation-delay: 2s; 
}
@keyframes fadeInOut {
 0%,100%{
    opacity: 0;
 }    
 50%{
    opacity: 1;
 }
}
.assignmentpic1.visible{
    opacity: 1;
}

.menu {
    list-style: none;
    padding: 50;
    margin: 0;
    display: flex;
    background-color:#582fbf;
    justify-content: center;
}
.menu > li {
    position: relative;
}
.menu > li > a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}
.menu > li > a:hover {
    background-color: #575757;
}
.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 100;
}
.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;  
}
.dropdown-content li a:hover {
    background-color: #f6f2f2;
}
.dropdown:hover .dropdown-content {
    display: block;
}